body{
  background-image: url("Bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
}
h1{
  text-align: center;
  color: #fff;
  font-size: 2.3em;
  margin-top: 40px;
}
#header-para{
  text-align: center;
  color: #fff;
  font-size: 1em;
  margin-top: 5px;
}
#weather-container{
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  height: auto;
}
#weather-info-icon{
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  z-index: 2;
}
#temperature-value{
  font-size: 2.5em;
  color: #041324;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}
#search-div{
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#city-input{
  display: inline-block;
  width: 400px;
  border: none;
  font-size: 1em;
  opacity: 1;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#search-btn{
  padding: 5px;
  border: none;
  background-color: #041324;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#weather-info {
  text-align: center;
  color: #333;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;
}
#temp-info{
  display: grid;
  grid-template-columns: repeat(2,  1fr);
  gap: 15px;
  justify-items: center;
  margin: 20px auto;
  align-items: center;
  padding: 10px;
}
.temp-card{
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
}
#UV-index-info{
  width: 95%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
}
#five-days-forecast {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
  box-sizing: border-box;
}
footer{
  width: 95%;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(4, 19, 36, 0.8);
  position: relative;
  bottom: 0;
  border-radius: 10px;
}
.forecast-card{
  width: 100%;
  min-height: 90px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  border: 3px solid #041324;
}
#forecast-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  body {
    background-image: url("Bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1{
    font-size: 1.5em;
  }
  #search-div{
    width: 90%;
  }
  #weather-container {
    width: 90%;
  }
  .temp-card {
    width: 100%;
    height: auto;
  }
  #UV-index-info, #five-days-forecast {
    width: 90%;
    height: auto;
  }
  #city-input {
    width: 90%;
  }
}